:root{
	--maincolor:hsla(48,100%,50%,1);
	--basecolor:hsla(217, 44%, 51%,1);
    --accentcolor:hsla(37,100%,50%,1);
    --lightmaincolor:hsla(217,44%,30%,1);
    --darkmaincolor:hsla(217,44%,20%,1);
    --navbgcolor:hsla(1,0%,0%,1);
    --textcolor:hsla(1,100%,100%,1);  
}
body {
	margin: 0;
    background-color: var(--basecolor);
    font-family: 'Noto Sans JP', sans-serif;
    overflow: visible;
    -webkit-overflow-scrolling: auto;
}
h1 {
    font-family: 'Bitter', serif;
    font-size: 2em;
    font-family: 'Lobster',cursive;
    color:var(--maincolor);
}
h2 {
    font-family: 'Bitter', serif;
    font-size: 1.5em;
    color:var(--maincolor);
}
h3 {
    font-family: 'Bitter', serif;
    font-size: 1.2em;
    color:var(--maincolor);
}
h4 {
    font-size: 1em;
    color:var(--maincolor);
}
ul,
li {
    text-decoration: none;
    -webkit-padding-start: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    color:var(--accentcolor);
    text-decoration: none;
}
img{
    width:100%;
    height: auto;
}
/* loading */
.loading {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: var(--basecolor);
}
.loading img {
    position: absolute;
    width: 40px;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
}
.load-img-1 {
    left: -10%;
    top: 60%;
}
.load-img-2 {
    left: -10%;
    top: 60%;
}
.load-img-3 {
    left: -10%;
    top: 60%;
}
.load-img-4 {
    left: -10%;
    top: 60%;
}
.load-img-5 {
    left: -10%;
    top: 60%;
}
.load-img-6 {
    left: -10%;
    top: 60%;
}
.load-img-7 {
    left: -10%;
    top: 60%;
}
.loading h1 {
    position: absolute;
    top: 50%;
    left:-50%;
    width:320px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}
.navbar-toggler{
    background-color: #fff;
    opacity: 0.6;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar{
	min-height:60px;
	background-color:var(--navbgcolor);
	z-index: 99;
	display: flex;
	border-top: solid 5px var(--darkmaincolor);
	border-bottom: solid 5px var(--darkmaincolor);
	justify-content: space-between;
}
.nav-link{
	color:var(--textcolor);
}
.title {
	text-align: center;
	background-color:var(--navbgcolor);
	color:var(--maincolor);
}		
.nav-item{
    text-align: center!important;
}
.nav-position{
	top:25px;
	right:10px;
}
.box{
	padding: 8px 0;
    margin: 2em 0;
    color:var(--textcolor);
    background: var(--lightmaincolor);
    border-top: solid 5px var(--darkmaincolor);
    border-bottom: solid 5px var(--darkmaincolor);
   
}
.container{
	padding:0;
}
.module-news{
	
	overflow-y: scroll; 
	height: 30vw;
}
.box h2{
	color:#ffce00;
	margin:0.5em;
}
.box p{
    margin:0 2em 1em 2em;
} 
.box li{
    margin:0 2em;
}
.box h3{
	margin-left: 1em;
}
.box h4{
	margin-left: 1em;
}
.sticky{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top:0;
    opacity:0.8;
}
.module-result li {
	list-style: none;
}
#footer{
   
    margin-bottom: 0;
    text-align: center;
}
.carousel {
  background:var(--basecolor);
}
.carousel-cell {
  width: 100%;
  max-width: 750px;
  max-height: 500px;
  height: auto;
  margin-right: 20px;
  border-radius: 30px;
  counter-increment: carousel-cell;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
}